{% extends 'base.html' %}


{% block content %}
<div class="row">

    {% for post in posts %}

    <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center mb-4">
        <div class="card" style="width: 18rem;">
            {% if post.file_id %}
            <img class="card-img-top"
                src="{{ url_for('blog.uploaded_file', id=post.file_id) }}"
                alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content|truncate(100)}}</p>

            </div>
            <div class="card-footer bg-white border-white">
                <a href="{{ url_for('blog.post', id=post.id) }}"
                    class="btn btn-primary float-right float-button">Подробнее</a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>
{% endblock %}